<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table,th,td  {
        border: 1px solid black;
    }
</style>
<body>
    <center>
        <table style="width: 100%;">
            <tr>
                <th>id</th>
                <th>Files</th>
            </tr>
            {% if filed%}
           {% for n in filed%}
            <tr>
             <td>{{n.id}}</td>
             <td><a style="text-decoration: none;" href="{{n.file.url}}" download>Download Uploaded File</a>
             </td>
            </tr>
            {% endfor %}
            {% endif %}


        </table>
        
        
    </center>
</body>
</html>